<!--templates/home.html-->

{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    Hello {{user.username}} !
    <p><a href="{% url 'logout' %}">logout</a></p>

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}